!Xft (X font config)
Xft*dpi:	96
Xft*antialias:	true
Xft*hinting:	slight

!URxvt settings
!title
!URxvt*title:	Terminal
!window transparancy
URxvt*depth:		32
URxvt*background:	[85]#000000
!fading (on defocus)
URxvt*fading:		20
!URxvt*fadeColor:	#002B36
URxvt*fadeColor:	#363636
!bell settings
!URxvt*visualBell:	true
URxvt*urgentOnBell:	true
!color scheme adjustments
URxvt*foreground:	    #E2A302
	URxvt*color2:	#009900
	URxvt*color4:	#3465A4
	URxvt*color12:	#729FCF
!font settings
URxvt*font: xft:DejaVu Sans Mono for Powerline:pixelsize=9,xft:Luxi Mono
URxvt*letterSpace:	-1

!URxvt*iconFile: /usr/share/icons/gnome/scalable/apps/utilities-terminal-symbolic.svg
!URxvt*cursorBlink:	true
!URxvt*cursorUnderline:	true
!hide Xcursor on type
URxvt*pointerBlank:	true

!window shape
URxvt*geometry:		116x33
!97x25
!scroll settings
URxvt*scrollBar_right:	true
URxvt*scrollstyle:	plain
URxvt*scrollTtyOutput:	false
URxvt*scrollWithBuffer:	true
URxvt*scrollTtyKeypress:true
!URxvt*scrollBar:	false
!history limit (default 64)
URxvt*saveLines:	512

URxvt*pastableTabs:	true

!disable perl extensions (excepting matcher, fullscreen and vtwheel)
URxvt*perl-ext:
URxvt*perl-ext-common:	matcher,fullscreen,vtwheel,font-size
!extention config
	URxvt*keysym.C-Up:	perl:font-size:increase
	URxvt*keysym.C-Down:	perl:font-size:decrease
!	keyshortcut for fullscreen
	URxvt*keysym.F11:	perl:fullscreen:switch
!	browser to launch urls (matcher)
	URxvt*url-launcher:	/usr/bin/firefox
!	mouse button to open links (matcher)
	URxvt*matcher.button:	1
!	colour to colour matched URIs (matcher)
	URxvt*colorUL:		CornflowerBlue
!#4682B4
	URxvt*underlineColor:	MidnightBlue

